name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run tests (generate coverage.out)
        run: go test ./... -coverprofile=coverage.out

      - name: Generate filtered HTML coverage report
        run: |
          grep -vFf .covignore coverage.out > coverage.filtered.out
          go tool cover -html=coverage.filtered.out -o coverage.html
          rm -f coverage.filtered.out

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            coverage.out
            coverage.html
